.pagination {
	display: inline-block;
	border-radius: 3px;
}

.pagination li {
	margin-left: 3px;
	color: black;
	float: left;
	padding: 8px 14px;
	text-decoration: none;
	transition: background-color .3s;
	background-color: #f5f5f5;
	border-radius: 3px;

}

.pagination li a{
	color: #124660;
}

.pagination li.active {
	background-color: #124660;
	color: white;
	font-weight: bold;
}
.pagination li.active a{
	color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}
.intel-new-color-main{
	background-color: #344a5e !important;
	color: #ffffff !important;
}
.pagination {
	margin: 20px auto 20px;
	text-align: center;
	overflow: hidden;
}